{% extends 'base_front.html.twig' %}

{% block title %}Les listes de cadeaux{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}


    <div class="gift-list">
        <h1>Toutes les listes de cadeaux</h1>

        <table class="table">
            <thead>
                <tr>
                    <th style="opacity: 0%;">Couverture</th>
                    <th>Title</th>
                    <th>Theme</th>
                    <th>Description</th>
                    <th>Créé le</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for list_gift in list_gifts %}
                <tr>
                    {% if vich_uploader_asset(list_gift, 'imageFile') is null %}
                        <td style="width: 15%;"><img style="max-width: 100%;" <img src="{{ asset('images/default/listDefault.jpg') }}"></td>
                    {% else %}
                        <td style="width: 15%;"><img style="max-width: 100%;" src="{{ vich_uploader_asset(list_gift, 'imageFile') }}"></td>
                    {% endif %}
                    <td style="width: 15%;">{{ list_gift.title }}</td>
                    <td>{{ list_gift.theme }}</td>
                    <td>{{ list_gift.description }}</td>
                    <td>{{ list_gift.createdAt ? list_gift.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('front_app_browse_list_show', {'id': list_gift.id}) }}">Détails</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Aucune liste trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    
{% endblock %}
