{% extends 'base_front.html.twig' %}

{% block title %}Article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('article') }}
{% endblock %}

{% block body %}
    <main>
        <header>
            <nav>
                <img src={{ asset('images/Jaji_pager.png') }} alt="logo">
                <ul>
                    <li><a href="{{ path('front_app_default') }}">Accueil</a></li>
                    <li><a href="{{ path('front_app_default') }}">Nos engagements</a></li>
                </ul>
            </nav>
            <div id="back">
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.3333 5.33366H3.21996L6.94663 1.60699L5.99996 0.666992L0.666626 6.00033L5.99996 11.3337L6.93996 10.3937L3.21996 6.66699H11.3333V5.33366Z" fill="#355070"/>
                </svg>
                <p><a href="{{ path('front_app_content') }}">Retour à l’accueil</a></p>
            </div>
            <div class="title">
                <img src={{ asset('images/logo_jaji.png') }} alt="logo">
                <h1>{{ content.title }}</h1>
            </div>
        </header>
        <section>
            <div>
                <p>publié le {{ content.created|date('d F Y', "Europe/Paris") }}</p>
            </div>
            <div>
                {{ content.description | raw }}
            </div>
        </section>
    </main>
{% endblock %}
