{% extends 'base_back.html.twig' %}

{% block title %} Campagne SMS {% endblock %}
{% block pageTitle %} Campagne SMS {% endblock %}

{% block body %}
    <div class="flex md:flex-row flex-col w-full md:items-center md:justify-between flex-nowrap">
        <div>
            <h1 class="text-3xl font-bold md:mb-0 mb-4">Créer un envoi de SMS</h1>
        </div>
    </div>

    <div class="flex flex-col mt-10 w-full mb-10">
        <div class="flex flex-col">
            <div class="inline-block w-full overflow-x-auto align-middle border-b border-gray-200 shadow sm:rounded-lg">
                {% for message in app.flashes('success') %}
                    <div class="p-3 rounded bg-green-500 text-green-100 mb-4 m-3">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                    <div class="p-3 rounded bg-red-500 text-red-100 mb-4 m-3">
                        <span>{{ message }}</span>
                    </div>
                {% endfor %}

                <div>
                    {{ form_start(formNotification) }}
                    <div class="overflow-hidden shadow sm:rounded-md">
                        <div class="bg-white px-4 py-5 sm:p-6">
                            <div class="grid grid-cols-6 gap-6">
                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.gender) }}</div>
                                    {{ form_label(formNotification.gender) }}
                                    {{ form_widget(formNotification.gender) }}
                                </div>

                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.type) }}</div>
                                    {{ form_label(formNotification.type) }}
                                    {{ form_widget(formNotification.type) }}
                                </div>

                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.interval) }}</div>
                                    {{ form_label(formNotification.interval) }}
                                    {{ form_widget(formNotification.interval) }}
                                </div>

                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.debut) }}</div>
                                    {{ form_label(formNotification.debut) }}
                                    {{ form_widget(formNotification.debut) }}
                                </div>

                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.fin) }}</div>
                                    {{ form_label(formNotification.fin) }}
                                    {{ form_widget(formNotification.fin) }}
                                </div>

                                <div class="col-span-6">
                                    <div class="text-red-500 font-bold my-2">{{ form_errors(formNotification.content) }}</div>
                                    {{ form_label(formNotification.content) }}
                                    {{ form_widget(formNotification.content) }}
                                </div>
                            </div>
                        </div>
                        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
                            <button class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">{{ button_label|default('Enregistrer') }}</button>
                        </div>
                    </div>
                    {{ form_end(formNotification) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
