{{ form_start(formUser) }}
    <div class="overflow-hidden shadow sm:rounded-md">
        <div class="bg-white px-4 py-5 sm:p-6">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.type) }}</div>
                    {{ form_label(formUser.type) }}
                    {{ form_widget(formUser.type) }}
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.gender) }}</div>
                    {{ form_label(formUser.gender) }}
                    {{ form_widget(formUser.gender) }}
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.born) }}</div>
                    {{ form_label(formUser.born) }}
                    {{ form_widget(formUser.born) }}
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.firstname) }}</div>
                    {{ form_label(formUser.firstname) }}
                    {{ form_widget(formUser.firstname) }}
                </div>

                <div class="col-span-6 sm:col-span-3">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.lastname) }}</div>
                    {{ form_label(formUser.lastname) }}
                    {{ form_widget(formUser.lastname) }}
               </div>

                <div class="col-span-6">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.email) }}</div>
                    {{ form_label(formUser.email) }}
                    {{ form_widget(formUser.email) }}
                </div>

                <div class="col-span-6">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.phone) }}</div>
                    {{ form_label(formUser.phone) }}
                    {{ form_widget(formUser.phone) }}
                </div>

                <div class="col-span-6">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.roles) }}</div>
                    {{ form_label(formUser.roles) }}
                    {{ form_widget(formUser.roles) }}
                </div>

                <div class="col-span-6">
                    <div class="text-red-500 font-bold my-2">{{ form_errors(formUser.job_integer) }}</div>
                    {{ form_label(formUser.job_integer) }}
                    {{ form_widget(formUser.job_integer) }}
                </div>
            </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
            <button class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">{{ button_label|default('Enregistrer') }}</button>
        </div>
    </div>
{{ form_end(formUser) }}
