{{ form_start(formRecommandationPathology) }}
<div class="overflow-hidden shadow sm:rounded-md">
    <div class="bg-white px-4 py-5 sm:p-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
                <div class="px-4 mt-10 sm:px-0">
                    <p class="font-medium text-gray-900">Choisir la pathologie</p>
                </div>
                <div class="block" aria-hidden="true">
                    <div class="py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>
                </div>
                <div class="text-red-500 font-bold my-2">{{ form_errors(formRecommandationPathology.pathology_integer) }}</div>
                {{ form_label(formRecommandationPathology.pathology_integer) }}
                {{ form_widget(formRecommandationPathology.pathology_integer) }}
            </div>
            <div class="col-span-6">
                <div class="px-4 mt-10 sm:px-0">
                    <p class="font-medium text-gray-900">Choisir le contenu</p>
                </div>
                <div class="block" aria-hidden="true">
                    <div class="py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>
                </div>
                <div class="text-red-500 font-bold my-2">{{ form_errors(formRecommandationPathology.content_integer) }}</div>
                {{ form_label(formRecommandationPathology.content_integer) }}
                {{ form_widget(formRecommandationPathology.content_integer) }}
            </div>
            <div class="col-span-6">
                <div class="px-4 mt-10 sm:px-0">
                    <p class="font-medium text-gray-900">Choisir l'intervalle d'envoi des notifications</p>
                </div>
                <div class="block" aria-hidden="true">
                    <div class="py-5">
                        <div class="border-t border-gray-200"></div>
                    </div>
                </div>
                <div class="text-red-500 font-bold my-2">{{ form_errors(formRecommandationPathology.interval) }}</div>
                {{ form_label(formRecommandationPathology.interval) }}
                {{ form_widget(formRecommandationPathology.interval) }}
            </div>
        </div>
    </div>
    <div class="bg-gray-50 px-4 py-3 text-right sm:px-6">
        <button class="inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">{{ button_label|default('Enregistrer') }}</button>
    </div>
</div>
{{ form_end(formRecommandationPathology) }}
